.anchor
.DS_Store
target/*
!target/deploy
target/deploy/*
!target/deploy/*-keypair.json
!target/idl
!target/types
**/*.rs.bk
node_modules
contexts_
test-ledger
.yarn
wallet.json
aYTqjMKNNe1KmGT7WR2XHhXu7t6FD7p8DgZnwP3T8rE.json
ugaoB7uFPdVQHGLg9vyePbsF1b75snYdUJtMMPqjgGi.json