/* .header {
  min-height: 8vh;
  @apply flex justify-evenly items-center p-2 bg-slate-900 text-white;
}

.body {
  min-height: 84vh;
  @apply flex flex-col justify-evenly items-center bg-slate-300;
}

.footer {
  height: 8vh;
  @apply flex justify-evenly items-center p-2 bg-slate-900 text-white;
} */

.navbar {
  height: 10vh;
  @apply w-screen fixed z-10 bg-slate-900;
}

.sidenav {
  width: 20vw;
  @apply h-screen fixed z-20 bg-slate-900;
}

.navbar_divider {
  height: 10vh;
  @apply w-full;
}

.sidenav_divider {
  width: 20vw;
  @apply h-screen;
}

.container {
  @apply min-h-screen flex;
}
.content_container {
  width: 80vw;
  @apply min-h-screen  flex flex-col;
}

.content {
  min-height: 90vh;
  @apply w-full bg-red-700;
}
